/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fix-padding-and-height {
  margin-left: -15px;
  margin-right: -15px;
}
.video_wrapper {
    min-height: 375px;
    height: 100%;
    width: 100%;
}
.none {
  display: none;
}
.height100 {
    height: 100%;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

.preview_img {
    height: 100%;
    cursor: pointer;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.showroom {
        background-image: url('../img/showroom_preview.jpg');
    }
    &.shopping {
        min-height: 375px;
        background-image: url('../img/shopping_preview.jpg');
    }
    &.wedding_first {
        height: 250px;
        background-image: url('../img/wedding_first_preview.jpg');
    }
    &.wedding_second {
        height: 250px;
        background-image: url('../img/wedding_second_preview.jpg');
    }
    &.engagement_first {
        height: 295px;
        background-image: url('../img/engagement_first_preview.jpg');
    }
}

.green--text, .red--text {
    padding: 15px;
    font-size: 13px;
}
.green--text {
    color: green;
    background-color: rgba(green, 0.3);
}
.red--tet {
    color: #d0021b;
    background-color: #ffe0e4;
}

.resend-email {
    color: #007bff;
    cursor: pointer;
    font-size: 13px;
}

.prod-review-section {
    margin-bottom: 30px;
}
